NODE_ENV=development
PORT=3000
CORS_ORIGINS=http://localhost:5173,http://localhost:3000

EXTERNAL_API_BASE_URL=https://api.ejemplo.com
EXTERNAL_API_KEY=super_secret_key

DB_HOST=localhost
DB_PORT=1433
DB_NAME=my_app_db
DB_USER=sa
DB_PASSWORD=YourStrong!Passw0rd
DB_DIALECT=mssql
DB_LOGGING=false